.error{
    background-color: #ff0000;
}

.correct{
    background-color: #00ff00;
}

.selected{
    background-color: aqua;
}

table {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.row {
    /* border: 2px solid black; */
    display: table;
    width: 400px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.cell {
    display: table-cell;
    min-width: 10px;
    min-height: 10px;
    /* width: 10px;
    height: 10px; */
    border: 1px solid black;
}
